{% extends "main.html" %}
{% load static %}
{% block content %}


<div class="course">


<div class="acad">
      
    <nav class="butto">
      <!-- Navigation bar with buttons to show different sections -->
      <button onclick="showSection('homepage')">1ST YEAR</button>
      <button onclick="showSection('about')">2ND YEAR</button>
      <button onclick="showSection('services')">3RD YEAR</button>
      <button onclick="showSection('contact')">4TH YEAR</button>
    </nav>
  
    <div id="homepage" class="section active">

  
      <h2>1ST YEAR - {{course.course_name}}</h2>
      
      <div class="sem2">
        <h3>1st Sem Notes and Past Papers</h3>
    <div class="btn">
        <button onclick="showPastPaper1()"><a href="#"><span></span>Exams</a></button>
        <button onclick="showNote1()"><a href="#"><span></span>Notes</a></button>
    </div>
  
    <div id="pd1">
        <!-- Placeholder for the links that will be updated by JavaScript -->
      </div>
  
    </div>
  
    <div class="sem2">
      <h3>2nd Sem Notes and Past Papers</h3>
  <div class="btn">
      <button onclick="showPastPapers3()"><a href="#"><span></span>Exams</a></button>
      <button onclick="showNotes3()"><a href="#"><span></span>Notes</a></button>
  </div>
  
  <div id="pdf3">
      <!-- Placeholder for the links that will be updated by JavaScript -->
    </div>
  
  </div>
  
    </div>
  
    <div id="about" class="section">
  
      <h2>2ND YEAR - {{course.course_name}}</h2>
  
      <div class="sem2">
        <h3>1st Sem Notes and Past Papers</h3>
    <div class="btn">
        <button onclick="showPastPapers()"><a href="#"><span></span>Exams</a></button>
        <button onclick="showNotes()"><a href="#"><span></span>Notes</a></button>
    </div>
  
    <div id="pdf">
      
        <!-- Placeholder for the links that will be updated by JavaScript -->
      </div>
  
    </div>
  
    <div class="sem2">
      <h3>2nd Sem Notes and Past Papers</h3>
  <div class="btn">
      <button onclick="showPastPapers2()"><a href="#"><span></span>Exams</a></button>
      <button onclick="showNotes2()"><a href="#"><span></span>Notes</a></button>
  </div>
  
  <div id="pdf2">
      <!-- Placeholder for the links that will be updated by JavaScript -->
    </div>
  
  </div>
  
  
    </div>
  
    <div id="services" class="section">
  
      <h2>3RD YEAR - {{course.course_name}}</h2>
  
      <div class="sem2">
        <h3>1st Sem Notes and Past Papers</h3>
    <div class="btn">
        <button onclick="showPastPaper()"><a href="#"><span></span>Exams</a></button>
        <button onclick="showNote()"><a href="#"><span></span>Notes</a></button>
    </div>
  
    <div id="pd">
        <!-- Placeholder for the links that will be updated by JavaScript -->
      </div>
  
    </div>
  
    <div class="sem2">
      <h3>2nd Sem Notes and Past Papers</h3>
  <div class="btn">
      <button onclick="showPastPapers3b()"><a href="#"><span></span>Exams</a></button>
      <button onclick="showNotes3b()"><a href="#"><span></span>Notes</a></button>
  </div>
  
  <div id="pdf3b">
      <!-- Placeholder for the links that will be updated by JavaScript -->
    </div>
  
  </div>
       
    </div>
  
    <div id="contact" class="section">
  
      <h2>4TH YEAR - {{course.course_name}}</h2>
  
      <div class="sem2">
        <h3>1st Sem Notes and Past Papers</h3>
    <div class="btn">
        <button onclick="showPastPapers1()"><a href="#"><span></span>Exams</a></button>
        <button onclick="showNotes1()"><a href="#"><span></span>Notes</a></button>
    </div>
  
    <div id="pdf1">
        <!-- Placeholder for the links that will be updated by JavaScript -->
      </div>
  
    </div>
  
    <div class="sem2">
      <h3>2nd Sem Notes and Past Papers</h3>
  <div class="btn">
      <button onclick="showPastPapers4()"><a href="#"><span></span>Exams</a></button>
      <button onclick="showNotes4()"><a href="#"><span></span>Notes</a></button>
  </div>
  
  <div id="pdf4">
      <!-- Placeholder for the links that will be updated by JavaScript -->
    </div>
  
  </div>
       
    </div>
  
  </div>

  <div class="course-description">
    <h2>COURSE DESCRIPTION</h2>
    <h2>{{course.course_name}}</h2>
    <p>{{course.decription|linebreaksbr}}</p>
  </div>
</div>
  
  


    <script>
        document.querySelector('.search-btn').onclick = function() {
var query = document.querySelector('.search-box').value;
window.open('https://www.bing.com/search?q=' + encodeURIComponent(query));
};

// JavaScript function to show a section and hide others
function showSection(sectionId) {
  // Hide all sections
  var sections = document.querySelectorAll('.section');
  sections.forEach(function(section) {
    section.classList.remove('active');
  });

  // Show the clicked section
  var sectionToShow = document.getElementById(sectionId);
  if (sectionToShow) {
    sectionToShow.classList.add('active');
  }

  // If the 'Home' tab is not clicked, hide the homepage content
  if (sectionId !== 'homepage') {
    document.getElementById('homepage').style.display = 'none';
  } else {
    // If the 'Home' tab is clicked, show the homepage content
    document.getElementById('homepage').style.display = 'block';
  }

  // Prevent scrolling to other sections
  window.scrollTo(0, 0);
}

// Call showSection with 'homepage' by default to show the homepage content
showSection('homepage');

// Mathematics and Comp Sc sem1
// JavaScript functions to update the links


// YEAR 1 SEM1 PAST PAPERS
function showPastPaper1() {
  document.getElementById('pd1').innerHTML =
  '{% for paper in pastPaper1_1 %}<button><a href="{{paper.link}}">{{paper}}</a></button>{% endfor %}' 
}


// YEAR1 SEM1 NOTES
function showNote1() {
  document.getElementById('pd1').innerHTML =
'{% for note in notes1_1 %}<button><a href="{{note.link}}">{{note}}</a></button>{% endfor %}' 

}

//YEAR1 SEM2 PAST PAPERS
function showPastPapers3() {
  document.getElementById('pdf3').innerHTML =
  '{% for paper in pastPaper1_2 %}<button><a href="{{paper.link}}">{{paper}}</a></button>{% endfor %}' 

}

//YEAR1 SEM2 NOTES
function showNotes3() {
  document.getElementById('pdf3').innerHTML =
  '{% for note in notes1_2 %}<button><a href="{{note.link}}">{{note}}</a></button>{% endfor %}' 

}

//YEAR2 SEM1 PAST PAPERS
function showPastPapers() {
  document.getElementById('pdf').innerHTML =
  '{% for paper in pastPaper2_1 %}<button><a href="{{paper.link}}">{{paper}}</a></button>{% endfor %}' 
}

//YEAR2 SEM1 PAST NOTES
function showNotes() {
  document.getElementById('pdf').innerHTML =
  '{% for note in notes2_1 %}<button><a href="{{note.link}}">{{note}}</a></button>{% endfor %}' 

}

//YEAR2 SEM2 PAST PAPERS
function showPastPapers2() {
  document.getElementById('pdf2').innerHTML =
  '{% for paper in pastPaper2_2 %}<button><a href="{{paper.link}}">{{paper}}</a></button>{% endfor %}' 

}

//YEAR2 SEM2 PAST NOTES
function showNotes2() {
  document.getElementById('pdf2').innerHTML =
  '{% for note in notes2_2 %}<button><a href="{{note.link}}">{{note}}</a></button>{% endfor %}' 

}

//YEAR3 SEM1 PAST PAPERS
function showPastPaper() {
  document.getElementById('pd').innerHTML =
  '{% for paper in pastPaper3_1 %}<button><a href="{{paper.link}}">{{paper}}</a></button>{% endfor %}' 

  
}

//YEAR3 SEM1 NOTES
function showNote() {
  document.getElementById('pd').innerHTML =
  '{% for note in notes3_1 %}<button><a href="{{note.link}}">{{note}}</a></button>{% endfor %}' 

}


///YEAR3 SEM2 PAST PAPERS
function showPastPapers3b() {
  document.getElementById('pdf3b').innerHTML =
  '{% for paper in pastPaper3_2 %}<button><a href="{{paper.link}}">{{paper}}</a></button>{% endfor %}' 

}

//YEAR3 SEM2 NOTES
function showNotes3b() {
  document.getElementById('pdf3b').innerHTML =
  '{% for note in notes3_2 %}<button><a href="{{note.link}}">{{note}}</a></button>{% endfor %}' 

}


//YEAR4 SEM1 PAST PAPERS
function showPastPapers1() {
  document.getElementById('pdf1').innerHTML =
  '{% for paper in pastPaper4_1 %}<button><a href="{{paper.link}}">{{paper}}</a></button>{% endfor %}' 

}

//YEAR4 SEM1 NOTES
function showNotes1() {
  document.getElementById('pdf1').innerHTML =
  '{% for note in notes4_1 %}<button><a href="{{note.link}}">{{note}}</a></button>{% endfor %}' 

}

//YEAR4 SEM2 PAST PAPERS
function showPastPapers4() {
  document.getElementById('pdf4').innerHTML =
  '{% for paper in pastPaper4_2 %}<button><a href="{{paper.link}}">{{paper}}</a></button>{% endfor %}' 

}

//YEAR4 SEM2 NOTES
function showNotes4() {
  document.getElementById('pdf4').innerHTML =
  '{% for note in notes4_2 %}<button><a href="{{note.link}}">{{note}}</a></button>{% endfor %}' 

}

    </script>

{% endblock content %}