{% extends "main.html" %}
{% load static %}
{% block content %}

<div class="news">


    <div class="news-search">
        <h1>SEARCH FOR <span>NEWS</span></h1>
    <div class="search-container">
        <input type="text" class="search-box" placeholder="Search...">
        <button class="search-btn">Search</button>
    </div>
    </div>

 <!--blog start -->
<section id="blog" class="blog" >
    <div class="container">

        <div class="blog-content">
            <div class="row">

{% for new in news %}


                <div class="col-md-4 col-sm-6">
                    <div class="single-blog-item">
                        <div class="single-blog-item-img">
                            <img src="{{new.image.url}}">
                        </div>
                        <div class="single-blog-item-txt">
                            <h2><a href="#">{{new.title}}</a></h2>
                            <hr>
                            <h4>posted <span>by</span> <a href="#">{{new.admin_name}}</a>{{new.date}}</h4>
                            <p> {{new.description|linebreaksbr}} </p>
                        </div>
                    </div>
                </div>

                {% endfor %}

                
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog-item">
                        <div class="single-blog-item-img">
                            <video controls>
                                <source src="C:\Users\USER\Videos\vid2.mp4" type="video/mp4">
                                <source src="C:\Users\USER\Videos\vid2.ogg" type="video/ogg">
                            </video>
                        </div>
                        <div class="single-blog-item-txt">
                            <h2><a href="#">How to find your Desired Place more quickly</a></h2>
                            <h4>posted <span>by</span> <a href="#">admin</a> June 2024</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->
    
</section><!--/.blog-->
<!--blog end -->

</div>

{% endblock content %}