{% extends "main.html" %}
{% load static %}
{% block content %}

<div class="search-container">
    <input type="text" class="search-box" placeholder="Search...">
    <button class="search-btn">Search</button>
</div>

<div class="club">
  <h2>KU ASSOCIATIONS</h2>

{% for assoc in associates %}

  <div class="club1">
      <h3>{{assoc.association_name}}</h3>
      <h3>{{assoc.short_form}}</h3>


      <div class="school">
    
        <button><a href="https://wa.me/+254{{assoc.phone}}?text=Hey+{{assoc.officials_name}},+It's+{{user.username}}+here.%0AI'm+interested+in+joining{{assoc.short_form}}."><span></span>Chat with Us</a></button>
        <button class="accordion"><a href="#"><span></span>More Info</a></button>

        <div class="panel">
          <p>{{assoc.description|linebreaksbr}}</p>
        </div>  

    </div>


  </div>

{% endfor %}




</div>

<script>
            

  // Accordion functionality
  var acc = document.getElementsByClassName("accordion");
  for (var i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
  
          </script>

{% endblock content %}


