{% extends "main.html" %}
{% load static %}
{% block content %}

<div class="search-container">
    <input type="text" class="search-box" placeholder="Search...">
    <button class="search-btn">Search</button>
</div>

<div class="club">
  <h2>KU RELIGIOUS FAITHS</h2>

{% for faith in faiths %}

  <div class="club1">
      <h3>{{faith.religion}}</h3>
      <h3>{{faith.short_form}}</h3>

     <div class="school">
    
        <button><a href="https://wa.me/+254{{faith.phone}}?text=Hey+{{faith.officials_name}},+It's+{{user.username}}+here.%0AI'm+interested+in+joining{{faith.short_form}}."><span></span>Chat with Us</a></button>
        <button class="accordion"><a href="#"><span></span>More Info</a></button>
     <div class="panel">
       <p>{{faith.description|linebreaksbr}}</p>
     </div>  

    </div>

  </div>

{% endfor %}



</div>

<script>
            

  // Accordion functionality
  var acc = document.getElementsByClassName("accordion");
  for (var i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
  
          </script>

{% endblock content %}


