*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body.home{
    min-height: 100vh;
    background: #000;


    .search-container{
        text-align: center;
        }
        .search-box{
        margin-top: 6rem;
        padding: 10px 15px;
        width: 50%;
        max-width: 500px;
        border:none;
        border-radius: 4px;
        font-size: 16px;
        }
        
        .search-btn{
        padding: 10px 20px;
        background-color: transparent;
        color: #fff;
        border:  2px solid #ffa200;
        border-radius: 4px;
        cursor: pointer;
        }
        
        .search-btn:hover{
        background-color: #ffa200;
        color: #000;
        }
}

.header{
    background: #ffa200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(225, 225, 225, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo{
    
    background: #000;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 15px 8px;
}

    
.logo h2{ 
font-family:serif;
color: #fff;
font-size:22px ;
}

.navbar a{
    font-size: 1.15rem;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    margin-right: 2.5rem;
    font-family: Serif;
}

#check{
    display: none;
}
.icons{
    position: absolute;
    right: 5%;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 8px;
}

@media(max-width:1000px) {
    .header {
        padding: 5px;
    }
    
}

@media (max-width: 1058px) {
    .icons {
        display: inline-flex;
    }
   

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        background: #ffa200;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
        border-radius: 0 0 5px 5px;
    }

    #check:checked~.navbar {
        height: 15rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}


.search-container{
    text-align: center;
    }
    .search-box{
    margin-top: 6rem;
    margin-bottom: 30px;
    padding: 9px 15px;
    width: 50%;
    max-width: 500px;
    border:  2px solid #ffa200;
    border-radius: 4px;
    font-size: 16px;
    }
    
    .search-btn{
    padding: 10px 20px;
    background-color: #ffa200;
    color: #fff;
    border:  2px solid #ffa200;
    border-radius: 4px;
    cursor: pointer;
    }
    
    .search-btn:hover{
    background-color: #ffa200;
    color: #000;
    }

    input{
      outline: none;
    }


.log{
text-align: center;
}

.log img{
width:200px;
margin-top: 10vh;
margin-bottom: 8vh;
}

.scroll-container {
display: flex;
overflow-x: auto;
white-space: nowrap;
padding: 10px 0;
margin: 10px 10px;
}
.scroll-container h2{
    font-size: 16px;
    position: relative;
    top: -25%;
    text-align: center;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.scroll-container::-webkit-scrollbar {
display: none; /* Hide scrollbar for Webkit browsers */
}

.scroll-container img {
border-radius: 10px;
margin-right: 10px;
max-height: 100px; /* Adjust the height as needed */
transition: transform 0.5s ease;
border-top: 2px solid #c1c1c1;
border-right: 2px solid #c1c1c1;
border-bottom: 2px solid #181818;
border-left: 2px solid #181818;
box-shadow: 0px 0px 2px #030303, inset 0px -2px 1px #2e2e2e;
}

.scroll-container img:hover {
transform: scale(1.1); /* Zoom effect on hover */
}





#sepa {
  margin-top: 30px;

p {
margin: 0;
color:  #8f949d;
font-size:14px;
line-height: 1.8;
text-transform: initial;
}

img{
border:none;
max-width:100%; 
height:auto;
border-radius: 10px 10px 0 0;
}

.blog-content{
text-align: center;
margin: 0 20px;
}

.single-blog-item{
border-radius: 10px;
background: #fff;
margin-bottom: 30px;
box-shadow: 0 0px 5px rgba(71,71,71,.2);
-webkit-transition: .3s; 
-moz-transition:.3s; 
-ms-transition:.3s; 
-o-transition:.3s;
transition: .3s;
}

.single-blog-item-txt {
    padding:  25px 28px 27px;
    text-align: left;
}
.single-blog-item-txt h2 a {
    text-transform:  initial;
    line-height: 1.8;
    color:#000;
    font-size: 20px;
    font-weight: 400;
}
.single-blog-item-txt h4 {
font-size:  14px;
color:  #8f949d;
font-weight:  400;
margin: 12px 0 20px;
text-transform: capitalize;
}
.single-blog-item-txt h4 a {
font-size:  14px;
padding-right:  14px;
border-right: 1px solid #dde0e4;
margin-right:  15px;
color: #ffa200;
text-transform: uppercase;
}

.single-blog-item:hover{
    box-shadow: 0 10px 20px rgba(21,19,19,.4);
}

video{
width: 100%;
border-radius: 10px 10px 0 0;
}

.row{
  padding-bottom: 60px;
}

}

.mySlides {
display: none;

}

.mySlides img {
vertical-align: middle;
border-radius:5px;
margin: 5vh 0 1vh;
height: 250px;

}

.slideshow{
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
}

.slideshow-container {
max-width: 1000px;
height: 350px; 
position: relative;
margin: auto;
padding:20px;
box-shadow: 0 0 8px 2px rgba(256,256,256,.6);
background: #000;
border-radius: 10px;
}

@media(min-width:700px) {
  .mySlides img {
    height: 450px;
    
    }

    
.slideshow-container {
  height: 550px; 
  border-radius: 10px;
  
  }
  
  
}



.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width:auto;
padding: 10px;
margin-top: -22px;
margin-left:20px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
user-select: none;
border-radius: 5px;
border: 2px solid #fff;

}
.next {
right: 10px;
}
.prev {
left:-10px;
}     

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.dotsContainer{
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

}
.dot{
  width: 28px;
  height: 10px;
  border-radius: 2px;
  margin: 0px 2px;
  border: 2px solid #fff;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;

}

.footer-icons li a .text {
font-size: 14px;
display: block; /* Display text on a new line */
color: #ccc; /* Lighter text color for the labels */
}.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #333;
color: white;
text-align: center;
padding: 10px 0;
}
.footer-icons {
list-style: none;
padding: 0;
margin: 0;
display: flex;
justify-content: space-between;
}
.footer-icons li {
padding: 0 10px;
text-align: center;
}
.footer-icons li a {
color: #ffa200;
text-decoration: none;
font-size: 24px;
display: block; /* Ensure that the text is below the icon */
}





/*ACADEMICS
//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////*/

.academics{
    
.school{
    margin: 10px;
    }
    
    .accordion {
    background-color: #ffa200;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
    border-radius:5px 5px 0 0;
    
    }
    
    .active, .accordion:hover {
    background-color: #ddd;
    }
    
    .accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    }
    
    .active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
    }
    
    .panel {
    padding: 0 18px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    margin-bottom: 5px;
    text-align: center;
    }
    
    .dropdown-button {
    display: inline-block;
    color: #000;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 270px;
    }
    
    .dropdown-content {
    left: 50%;
    transform: translateX(-50%);
    background: #ffa200;
    margin-top: -10px;
    position: absolute;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s ease-out; /* Smooth transition for opening and closing */
    max-height: 0; /* Initially set to 0 to hide the menu */
    }
    
    .dropdown-content a {
    text-align: center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: serif;
    transition: all 0.5s;
    }
    
    .dropdown-content a:hover {
    color: #fff;
    }
    
    .dropdown:hover .dropdown-content {
    max-height: 500px;
    }

}

/*HOUSING
/////////////////////////////////////////////////
/////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////*/

.housing{

  .house-search{
    background: #ecf1f1;
    text-align: center;
  }
  h1{
    position: absolute;
    text-align: center;
    color: #000;
    top: 88px;
    left: 2%;
    right: 2%;
    font-weight: 300;
    font-size: 24px;
  }
  h1 span{
    font-weight: 700;
  }

  @media(max-width:1000px) {
    h1{
         font-size: 20px;
     }
   }

.search-container{
  margin-top: 40px;
}
    .blog {
        text-align: center;
        color: #000;
    
        p {
            text-align: left;
            margin: 0;
            color: #8f949d;
            font-size:14px;
            line-height: 1.8;
            text-transform: initial;
            }
            
            img{
            border:none;
            max-width:100%; 
            height:auto;
            }
            
            .blog-content{
            text-align: center;
            margin: 40px 20px;
            }
            
            .single-blog-item{
            margin-bottom: 30px;
            box-shadow: 0 0px 5px rgba(71,71,71,.2);
            -webkit-transition: .3s; 
            -moz-transition:.3s; 
            -ms-transition:.3s; 
            -o-transition:.3s;
            transition: .3s;
            }
            
            .single-blog-item-txt {
                padding:  25px 28px 27px;
            }
            .single-blog-item-txt h2 a {
                text-transform:  initial;
                line-height: 1.8;
                color:#000;
                font-size: 20px;
                font-weight: 400;
            }
            .single-blog-item-txt h2 a:hover{
                color: #ffa200;
            }
            .single-blog-item-txt h4 {
            font-size:  14px;
            color:  #8f949d;
            font-weight:  400;
            margin: 12px 0 20px;
            text-transform: capitalize;
            }
            .single-blog-item-txt h4 a {
            font-size:  14px;
            padding-right:  14px;
            border-right: 1px solid #dde0e4;
            margin-right:  15px;
            color: #000;
            text-transform: capitalize;
            }
            
            .single-blog-item:hover{
                box-shadow: 0 10px 20px rgba(21,19,19,.4);
            }
            
    
    
    .btn{
    color:#fff;
    margin:10px;
    margin-left:6px;
    text-align:center;
    
    @keyframes back{
    100%{
    background-position:200px 0;
    }
    }
    a {
    font-weight:bold;
    color:#000;
    }
    
    button{
    margin-top:20px;
    width:100px;
    border-radius:25px; 
    padding:8px 20px;
    text-align:center;  
    border:1px solid #ffa200;
    background:transparent;
    color:#fff;
    position:relative;
    overflow:hidden;
    }
    
    span{
    background:#ffa200;
    height:100%;
    width:0;
    border-radius:15px;
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
    transition:0.5s;
    }
    button:hover span{
    width:100%;
    
    }
    button:hover{
    border:none;
    }
    button a:hover{
    color: #fff;
    }
    }
    
    .location{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #000;
    }
    
    .location p{
    margin-left: 30px;
    }
    }

}

.house{
  margin-top: 6rem;
  text-align: center;
.scroll-container{
  margin-top: 20px;
}
.scroll-container img {
  border-radius: 5px;
  margin-right: 20px;
  max-height: 200px; /* Adjust the height as needed */
  transition: transform 0.5s ease;
  }

  .scroll-container{
    width: 95%;
    padding: 8px 8px 8px 8px;
    margin: 20px auto;
    border-radius: 5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #c1c1c1;
    border-left: 2px solid #c1c1c1;
    box-shadow: -3px 3px 7px rgba(0, 0, 0, .6), inset -100px 0px 100px rgba(255, 255, 255, .5);
  
  }

.details{
  text-align: left;
  line-height: 1.5;
}
.deta{
  margin-top: 20px;
  font-weight: 550;
  color: #8f949d;
  text-transform: capitalize;
  p{
    font-family: serif;
  }
}
.house-details{
  width: 95%;
  padding: 8px 8px 20px 8px;
  margin: 20px auto;
  border-radius: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #c1c1c1;
  border-left: 2px solid #c1c1c1;
  box-shadow: -3px 3px 7px rgba(0, 0, 0, .6), inset -100px 0px 100px rgba(255, 255, 255, .5);
  margin-bottom: 100px;
}

p span{
  color: #ffa200;
  font-family: serif;
}


button{
  padding: 20px;
  font-size: 16px;
  border-radius: 4px;
  color: #000;
  width: 80%;
  border: none;
  outline: none;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px 3px rgba(48, 45, 45, 0.3);
  -webkit-transition: .3s; 
  -moz-transition:.3s; 
  -ms-transition:.3s; 
  -o-transition:.3s;
  transition: .3s;
  }

  button:hover{
    box-shadow: 0 0 5px 6px rgba(53, 49, 49, 0.4);
}
}

/* NETWORKING
//////////////////////////////////////////
////////////////////////////////////////////
///////////////////////////////////////////// */

.big-box{
  padding-bottom: 200px;
  text-align: center;
}

.box {
  position: relative;
  width: 20vw;
  height: 22vh;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
  top: 6rem;
  left: 40%;

}

.box:hover{
  animation-play-state: paused;
}


@keyframes animate {
  0%{
      transform: perspective(1000px) rotateY(0deg);
  }
  100%{
      transform: perspective(1000px) rotateY(360deg);
  }
}

.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 36deg)) translateZ(38vw);
  -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(4, 4, 4, 0.267));
}



.box span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 15px;
  border: 4px double rgb(0, 0, 0);
}

img:hover{
  transform: translateY(-2px);
  
}

.networking{

  .network-search{
    background: #ecf1f1;
    text-align: center;
  }
  h1{
    position: absolute;
    text-align: center;
    color: #000;
    top: 88px;
    left: 2%;
    right: 2%;
    font-weight: 300;
    font-size: 24;
  }

  @media(max-width:1000px) {
    h1 {
        font-size: 20px;
    }
    
}

  h1 span{
    font-weight: 700;
  }
.search-container{
  margin-top: 40px;
  input{
    border: none;
    padding: 11px;
    outline: none;
  }
}
    
.container{
  max-width: 1200px;
  margin:0 auto;
  padding:3rem 2rem;
}

.container .title{
  font-size: 2rem;
  color:#444;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.container .products-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:2rem;
}

.container .products-container .product{
  text-align: center;
  padding:3rem 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  outline: .1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
  overflow: hidden;
}

.container .products-container .product:hover{
  outline: .2rem solid #222;
  outline-offset: 0;
}

.container .products-container .product img{
  width: 100%;
}

.container .products-container .product:hover img{
  transform: scale(.9);
}

.container .products-container .product h3{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:#444;
}

.container .products-container .product:hover h3{
  color:#27ae60;
}

.container .products-container .product .price{
  font-size: 1.5rem;
  color:#444;
}

.products-preview{
  position: fixed;
   top: 3rem; 
   left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
  display: none;
  padding:2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin:2rem;
  border-radius: 5px;
}

.products-preview .preview.active{
  display: inline-block;
}

.products-preview .preview .fa-times{
  position: absolute;
  top:2.5rem; right:1.5rem;
  cursor: pointer;
  color:#444;
  font-size: 2.5rem;
}

.products-preview .preview .fa-times:hover{
  transform: rotate(90deg);
}

.products-preview .preview h3{
  color:#444;
  padding:.5rem 0;
  font-size: 2rem;
}

.products-preview .preview .stars{
  padding:1rem 0;
  font-size: 1.7rem;
}

.products-preview .preview .stars i{
  color:#27ae60;
}

.products-preview .preview .stars span{
  color:#999;
}

.products-preview .preview p{
  line-height: 1;
  font-size: 1.2rem;
  color:#777;
}

.products-preview .preview .price{
  padding:1rem 0;
  font-size: 2rem;
  color:#ffa200;
}

.products-preview .preview .buttons{
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.products-preview .preview .buttons a{
  flex:1 1 16rem;
  padding:1rem;
  font-size: 1.4rem;
  color:#444;
  border:.1rem solid #444;
  border-radius: 5px;

}

.products-preview .preview .buttons a.cart{
  background: #444;
  color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
  background: #111;
}

.products-preview .preview .buttons a.buy:hover{
  background: #444;
  color:#fff;
}


@media (max-width:991px){

  html{
     font-size: 55%;
  }

}

@media (max-width:450px){

  html{
     font-size: 50%;
  }

}  

}

.listing{
  margin: 60px 20px;
  text-align: center;
}
.listing h3{
  line-height: 1.8;
  margin: 25px;
  font-family: Tahoma;
  font-size: 18px;
}

.listing p{
  margin: 25px;
  color: #8f949d;
  font-size:16px;
  font-weight: 550;
  line-height: 1.8;
  text-transform: initial;
}

.listing form{
  margin: 20px;
  line-height: 50px;
}
.listing form input{
  padding: 20px;
  font-size: 16px;
  border-radius: 4px;
  width: 80%;
  border: none;
  outline: none;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px 3px rgba(48, 45, 45, 0.3);
  -webkit-transition: .3s; 
  -moz-transition:.3s; 
  -ms-transition:.3s; 
  -o-transition:.3s;
  transition: .3s;
  }

  .listing form input:hover{
    box-shadow: 0 0 5px 6px rgba(53, 49, 49, 0.4);
}
.listing button{
  padding: 10px;
  font-size: 16px;
  width: 70%;
  border-radius: 4px;
  background: #ffa200;
  color: #000;
  border: none;
  box-shadow: 0 0 5px 3px rgba(48, 45, 45, 0.3);

}

/* CLUBS, RELIGIOUS FAITH, ASSOCIATIONS
/////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////// */

.club{
    text-align: center;
    padding-bottom: 100px;
    h2{
       background: linear-gradient(45deg,red,#ffa200,orange,orangered,orange, #000,red);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

.club1{
  
    text-align: center;
    width: 80%;
    padding: 8px 8px 20px 8px;
    margin: 20px auto;
    border-radius: 5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #c1c1c1;
    border-left: 2px solid #c1c1c1;
    box-shadow: -3px 3px 7px rgba(0, 0, 0, .6), inset -100px 0px 100px rgba(255, 255, 255, .5);
}

.status{
    margin: 20px;

    button{
        padding: 4px;
        width: 70px;
    }
    .active{
        margin-right: -8px;
        color: #fff;
        background: green;
        border: none;
        border-radius: 0 5px 5px 0;
        box-shadow: 0px 0px 2px #030303, inset 0px 0px 1px #dcdcdc;
    }

    .inactive{
        margin-right: -8px;
        color: #000;
        background: #ebebeb;
        border: none;
        border-radius: 0 5px 5px 0;
        box-shadow: 0px 0px 2px #030303, inset 0px 0px 1px #dcdcdc;
    }
    .stbtn{
        margin-right: -4px;
        color: #181818;
        text-shadow: 1px 1px 0px #fff;
        background: #ebebeb;
        border: none;
        border-radius: 5px 0 0 5px;
        box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #dcdcdc;
    }
}
.btn{
color:#fff;
margin-top:10px;
margin-left:6px;
text-align:center;

@keyframes back{
100%{
background-position:200px 0;
}
}
a {
font-weight:bold;
color:#000;
}

button{
  margin-top:20px;
  border-radius:25px; 
  padding:8px 20px;
  text-align:center;  
  border:1px solid #ffa200;
  background:transparent;
  color:#fff;
  position:relative;
  overflow:hidden;
  }

span{
background:#ffa200;
height:100%;
width:0;
border-radius:15px;
position:absolute;
left:0;
bottom:0;
z-index:-1;
transition:0.5s;
}
button:hover span{
width:100%;

}
button:hover{
border:none;
}
button a:hover{
color: #fff;
}
}

.club{

.school{
  margin: 10px;
  text-align: center;
}

button{
  transition: background-color 0.6s ease;
  text-decoration: none;
  margin-top:20px;
  border-radius:25px; 
  padding:8px 20px;
  text-align:center;  
  border:1px solid #ffa200;
  background:transparent;
  color:#fff;
  position:relative;
  overflow:hidden;
    

}
button a{
  color: #000;
  }

span{
  background:#ffa200;
  height:100%;
  width:0;
  border-radius:15px;
  position:absolute;
  left:0;
  bottom:0;
  z-index:-1;
  transition:0.5s;
  }
  button:hover span{
  width:100%;
  
  }
  button:hover{
  border:none;
  }
  button a:hover{
  color: #fff;
  }

.accordion:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 18px;
  background-color: #ccc;
  border-radius:5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  margin: 5px;
  text-align: center;
}
}

.panel p{
  line-height: 1.5;
  padding: 20px;
}



/* NEWS
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////// */

.news{

    background: #fff;

    .news-search{
      background: #ecf1f1;
      text-align: center;
    }
    h1{
      position: absolute;
      text-align: center;
      color: #000;
      top: 88px;
      left: 2%;
      right: 2%;
      font-weight: 300;
      font-size: 24px;
    }
    h1 span{
      font-weight: 700;
    }

    @media(max-width:1000px) {
      h1{
           font-size: 20px;
       }
     }

  .search-container{
    margin-top: 40px;
  }

        p {
margin: 0;
color:#8f949d;
font-size:14px;
line-height: 1.8;
text-transform: initial;
}

img{
border:none;
max-width:100%; 
height:auto;
}

.blog-content{
margin: 30PX 20px;
text-align: center;
}

.single-blog-item{
background: #fff;
margin-bottom: 30px;
box-shadow: 0 0px 5px rgba(71,71,71,.2);
-webkit-transition: .3s; 
-moz-transition:.3s; 
-ms-transition:.3s; 
-o-transition:.3s;
transition: .3s;
}

.single-blog-item-txt {
    padding:  25px 28px 27px;
    text-align: left;

}
.single-blog-item-txt h2 a {
    text-transform:  initial;
    line-height: 1.8;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.single-blog-item-txt h4 {
font-size:  14px;
color:  #8f949d;
font-weight:  400;
margin: 12px 0 20px;
text-transform: capitalize;
}
.single-blog-item-txt h4 a {
font-size:  14px;
padding-right:  14px;
border-right: 1px solid #dde0e4;
margin-right: 15px;
color: #000;
text-transform: uppercase;
font-weight: 500;
}

.single-blog-item:hover{
    box-shadow: 0 10px 20px rgba(21,19,19,.4);
    h2 a{
        color: #ffa200;
    }
}
}


/* STUDENTS
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////// */



.students{
    background: #fff;
    padding-bottom: 60px;

    td{
        color: #000;
    }

    .com {
        h2,h3{
        color:#000;
        text-align: center;
        font-family: sans;
        margin: 20px;
        }
        span{
        color: #ffa200;
        font-family: sans;
        }

        img{
          width: 95%;
          border-radius: 10px;
        }
        
        }

        @media(max-width:1000px) {
         h2{
              font-size: 20px;
          }
        }

        .dates,.unitsRegistration,.guidelines,.fee{
        margin-bottom: 30px;
        border-radius: 10px;
        background: #fff;
        padding: 10px;
        box-shadow: 0 0px 5px rgba(71,71,71,.2);
        -webkit-transition: .3s; 
        -moz-transition:.3s; 
        -ms-transition:.3s; 
        -o-transition:.3s;
        transition: .3s;
        }
        
        .dates:hover h3{
        background: linear-gradient(45deg,rgb(255, 102, 0),#ffa200);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        }
        
        .dates:hover{
        box-shadow: 0 10px 20px rgba(21,19,19,.4);
        }
        
        .unitsRegistration:hover h3{
        background: linear-gradient(45deg,rgb(255, 102, 0),#ffa200);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        }
        
        .unitsRegistration:hover{
        box-shadow: 0 10px 20px rgba(21,19,19,.4);
        }
        
        .guidelines:hover{
        box-shadow: 0 10px 20px rgba(21,19,19,.4);
        }
        
        .fee:hover h3{
        background: linear-gradient(45deg,rgb(255, 102, 0),#ffa200);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        }
        
        .fee:hover{
        box-shadow: 0 10px 20px rgba(21,19,19,.4);
        }
        
        .fee{
        text-align: center;
        }
        .feebtn{
        display: inline-flex;
        text-align: center;
        
        button{
        padding: 5px;
        margin: 10px;
        border-radius: 25px;
        background: transparent;
        border: 2px solid rgb(255, 102, 0);
        font-weight: bold;
        }
        }
        
        table{
        width: 100%;
        border-collapse: collapse;
        background: #ffa200;
        }
        
        th{
        background-color: #ffa200;
        color: #fff;
        padding: 10px;
        text-align: left;
        border: 2px solid #ffa200;
        }
        
        td{
        border: 2px solid #ffa200;
        padding: 10px;
        border-radius: 10px;
        }
        
        tr:nth-child(even){
        background-color: #fff;
        }
        
        .tbl{
        background: #ffa200;
        border-radius: 10px;
        margin: 10px;
        padding: 5px;
        }
        video{
        width: 100%;
        border-radius: 10px;
        }
        
        .accordion {
        background-color: #ffa200;
        color: #000;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: center;
        border: none;
        outline: none;
        transition: background-color 0.6s ease;
        border-radius:10px;
        font-size: medium;
        }
        
        .active, .accordion:hover {
        background: linear-gradient(45deg,rgb(255, 102, 0),#ffa200);;
        }
        
        .accordion:after {
        content: '\002B'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
        }
        
        .active:after {
        content: "\2212"; /* Unicode character for "minus" sign (-) */
        }
        
        .panel {
        padding: 0 18px;
        background-color: #fff;
        border-radius: 0 0 5px 5px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        margin-bottom: 5px;
        text-align: center;
        }
        
        .guidelines h3{
          text-align: left;
          font-size: 16px;
          font-weight: 100;
        }
        .text{
        text-align: left;
        font-family: Arial;
        
        ul{
        line-height: 30px;
        }
        }

}


/* COURSES
//////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////// */

.course{
#pdf {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  #pdf button {
    width: 45%;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.5s;
    background: #ffa200;
    font-weight: bold;
    font-family: serif;
    font-size: 13px;
    height: 35px;
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  }
  #pdf button a {
    color: #000;
  }
  #pdf button:hover {
    color: #fff;
  }

  


  #pd {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  #pd button {
    width: 45%;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.5s;
    background: #ffa200;
    font-weight: bold;
    font-family: serif;
    font-size: 13px;
    height: 35px;
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  }
  #pd button a {
    color: #000;
  }
  #pd button:hover {
    color: #fff;
  }

  #pdf2 {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  #pdf2 button {
    width: 45%;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.5s;
    background: #ffa200;
    font-weight: bold;
    font-family: serif;
    font-size: 13px;
    height: 35px;
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  }
  #pdf2 button a {
    color: #000;
  }
  #pdf2 button:hover {
    color: #fff;
  }

  #pdf1 {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  #pdf1 button {
    width: 45%;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.5s;
    background: #ffa200;
    font-weight: bold;
    font-family: serif;
    font-size: 13px;
    height: 35px;
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  }
  #pdf1 button a {
    color: #000;
  }
  #pdf1 button:hover {
    color: #fff;
  }

  #pd1 {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  #pd1 button {
    width: 45%;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.5s;
    background: #ffa200;
    font-weight: bold;
    font-family: serif;
    font-size: 13px;
    height: 35px;
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  }
  #pd1 button a {
    color: #000;
  }
  #pd1 button:hover {
    color: #fff;
  }

  #pdf3 {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  #pdf3 button {
    width: 45%;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.5s;
    background: #ffa200;
    font-weight: bold;
    font-family: serif;
    font-size: 13px;
    height: 35px;
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  }
  #pdf3 button a {
    color: #000;
  }
  #pdf3 button:hover {
    color: #fff;
  }

  #pdf3b {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  #pdf3b button {
    width: 45%;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.5s;
    background: #ffa200;
    font-weight: bold;
    font-family: serif;
    font-size: 13px;
    height: 35px;
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  }
  #pdf3b button a {
    color: #000;
  }
  #pdf3b button:hover {
    color: #fff;
  }

  #pdf4 {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  #pdf4 button {
    width: 45%;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.5s;
    background: #ffa200;
    font-weight: bold;
    font-family: serif;
    font-size: 13px;
    height: 35px;
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  }
  #pdf4 button a {
    color: #000;
  }
  #pdf4 button:hover {
    color: #fff;
  }


  .sem2{
    padding: 8px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.8);
    text-align: center;
  }
  
  .btn{
  color:#fff;
  margin-top:10px;
  margin-left:6px;
  text-align:center;

@keyframes back{
  100%{
background-position:200px 0;
  }
}
 a {
  font-weight:bold;
  color:#000;
}

button{
  margin-top:20px;
width:100px;
border-radius:25px; 
padding:8px 20px;
text-align:center;  
border:1px solid #ffa200;
background:transparent;
color:#fff;
position:relative;
overflow:hidden;
}

span{
background:#ffa200;
height:100%;
width:0;
border-radius:15px;
position:absolute;
left:0;
bottom:0;
z-index:-1;
transition:0.5s;
}
button:hover span{
width:100%;

}
button:hover{
border:none;
}
button a:hover{
  color: #fff;
}
}

  .section {
    display: none; /* Hide all sections by default */
  }
  .active {
    display: block; /* Show the active section */
  }
  /* Style for your navigation bar */
.butto{
text-align: center;
margin-top: 70px;
}
.butto button{
font-family: serif;
background: #fff;
color: #ffa200;
border-radius: 5px;
font-weight: bold;
padding: 10px 5px;
border: none;
box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
}
  /* Initially show the homepage content */
  #homepage {
    display: block;
  }
 .acad h2{
    font-size: 16px;
    font-family: serif;
    text-align: center;
    margin-top: 28px;
    text-transform: uppercase;
  }

.course-description{
  text-align: center;
  margin: 50px 20px;
  padding: 20px 8px;
  border-radius: 10px;
  box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.8);
  h2{
    line-height: 1.8;
    font-size: 20px;
    margin: 10px;
  }
  p{
    color:#8f949d;
  }
}

}